@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-09-01
 *-----------------*/

.mid-wrap {
  margin: 0 auto;
  width: 1000px;
}
/* 楼层标题 */
.floor {
  &__tit {
    display: inline-block;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 3px solid #29c077;
    color: #000;
    font-size: 30px;
    text-align: center;
  }
  &__through {
    border-bottom: none;
    padding-bottom: 0;
    &:before,
    &:after {
      content: '';
      display: inline-block;
      margin: 10px;
      width: 60px;
      height: 1px;
      background: #29c077;
      vertical-align: middle;
    }
  }
}
/* 顶部 */
.top {
  min-height: 54px;
  &__ct {
    line-height: 54px;
    font-size: 14px;
    background: #fff;
    color: #26292b;
  }
  &__tit {
    font-size: 16px;
  }
  &__contact {
    margin-right: 16px;
    font-size: 24px;
    font-family: 'Impact';
    font-weight: 400;
    letter-spacing: 1px;
    color: #29c077;
    vertical-align: middle;
  }
  &__home {
    float: right;
    color: #26292b;
    &:hover {
      color: #29c077;
    }
  }
}
/* 头部 */
.header {
  min-height: 86px;
  background: url(./img/header_bg.jpg) center no-repeat;
  &__logo {
    float: left;
    width: 150px;
    height: 86px;
  }
  &__nav {
    float: right;
    font-size: 0;
  }
  &__nav-item {
    display: inline-block;
    margin: 30px 30px 0;
    font-size: 14px;
    padding-bottom: 18px;
    &.on {
      border-bottom: 2px solid #29c077;
      a {
        color: #29c077;
      }
    }
    &:hover {
      border-bottom: 2px solid #29c077;
      a {
        color: #29c077;
      }
    }
  }
  a {
    color: #333;
    &:hover {
      color: #29c077;
    }
  }
}
/* 焦点图 */
.main-slider {
  min-height: 664px;
  &__ct {
    position: relative;
    img {
      position: relative;
      left: -640px;
      margin-left: 50%;
      vertical-align: middle;
    }
  }
  &__hd {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    text-align: center;
    font-size: 0;
  }
  &__hd-li {
    display: inline-block;
    margin: 0 13px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    &.on {
      background: #fea82c;
    }
  }
}
/* 我们能够解决什么 */
.ability {
  min-height: 380px;
  background: #fff;
  text-align: center;
  &__list {
    margin-top: 40px;
    text-align: center;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    margin: 0 28px;
    width: 140px;
    color: #26292b;
    font-size: 18px; 
    img {
      display: inline-block;
      margin-bottom: 18px;
      width: 140px;
      height: 140px;
    }
  }
}
/* 我们的优势 */
.advantage {
  min-height: 540px;
  background: #f2f3f3;
  text-align: center;
  &__ct {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
  }
  &__list {
    margin-top: 40px;
    text-align: center;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    margin: 0 8px;
    width: 225px;
    height: 164px;
  }
  &__more {
    display: inline-block;
    margin-top: 40px;
    border-radius: 2px;
    width: 137px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: url(./img/more_btn.jpg) center no-repeat;
  }
}
/* 我们的服务区域 */
.service {
  min-height: 520px;
  background: #fff;
  text-align: center;
  &__ct {
    margin-top: 40px;
    font-size: 18px;
    .line {
      display: inline-block;
      margin: 0 25px;
    }
  }
  &__list {
    margin-top: 80px;
    text-align: center;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    margin: 0 8px;
    width: 301px;
    height: 193px;
  }
}
/* 为什么选择我们 */
.reason {
  min-height: 925px;
  background: #f2f3f3;
  text-align: center;
  &__item {
    margin-left: 90px;
    height: 260px;
    text-align: left;
  }
  &__item-1 {
    .reason__sub-tit {
      &:before {
        background: url(./img/leaf.jpg) center no-repeat;
      }
    }
  }
  &__item-2 {
    .reason__item-left {
      float: right;
    }
    .reason__item-right {
      position: relative;
      right: 150px;      
    }
    .reason__sub-tit {
      &:before {
        background: url(./img/quality.jpg) center no-repeat;
      }
    }
  }
  &__item-3 {
    .reason__sub-tit {
      &:before {
        background: url(./img/medal.jpg) center no-repeat;
      }
    }
  }
  &__item-left {
    float: left;
  }
  &__sub-tit {
    margin-top: 60px;
    font-size: 30px;
    &:before {
      content: '';
      display: inline-block;
      margin-left: -80px;
      width: 80px;
      height: 80px;
      vertical-align: middle;
    }
  }
  &__ct {
    margin-top: 10px;
    width: 500px;
    line-height: 30px;
    font-size: 18px;
  }
  &__item-right {
    position: relative;
    right: 70px;
    float: right;
    width: 260px;
    height: 260px;
  }
}
/* ABOUT US */
.about {
  min-height: 525px;
  background: #fff;
  text-align: center;
  &__ct {
    margin-top: 70px;
    overflow: hidden;
  }
  &__left {
    float: left;
    margin-left: 27px;
    width: 393px;
    height: 275px;
  }
  &__right {
    float: right;
    width: 520px;
    line-height: 40px;
    font-size: 16px;
    text-align: left;
  }
  &__sub-tit {
    margin-bottom: 8px;
    font-size: 24px;
    color: #29c077;
  }
  &__right-ct {
    text-indent: 2em;
  }
  &__more {
    margin-top: 10px;
    text-align: right;
    font-size: 16px;
    a {
      color: #29c077;
    }
  }
}
/* 客户为我们代言 */
.customer {
  min-height: 540px;
  background: #f2f3f3;
  text-align: center;
  background: url(./img/floor_bg.jpg) center repeat;
  &__list {
    margin-top: 55px;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    width: 280px;
    text-align: left;
    font-size: 14px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__item-1 {
    color: #29c077;
  }
  &__item-2 {
    color: #616161;
    line-height: 30px;
  }
  &__item-3 {
    line-height: 30px;
  }
  &__item-4 {
    line-height: 30px;
    a {
      color: #000;
      &:hover {
        color: #29c077;
      }
    }
  }
  &__item-5 {
    margin-top: 20px;
    color: #29c077;
  }
  &__star {
    display: inline-block;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    background: url(./img/star.png) center no-repeat;
  }
}
/* 合作伙伴 */
.partner {
  min-height: 540px;
  background: #fff;
  text-align: center;
  &__list {
    margin-top: 60px;
    margin-right: -40px;
    text-align: left;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 40px;
    width: 224px;
    height: 72px;
    border: 2px solid #f2f3f3;
    border-radius: 10px;
    img {
      vertical-align: middle;
    }
  }
}
/* 底部 */
.footer {
  min-height: 72px;
  background: #2a2a2a;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 72px;
}