<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "案例中心 | 绿洁雅", "cssname": "project" })
</head>

<body>
  <!-- 顶部 -->
  @@include("top.html")
  <!-- 头部 -->
  @@include("header.html", { "nav" : 5 })
  <!-- 焦点图 -->
  <section class="main-slider">
    <div class="mid-wrap">
      <div class="main-slider__ct">
        <div class="main-slider__bd">
          <ul>
            <li class="main-slider__item"><a href=""><img src="./images/index/slider_01.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="main-slider__hd">
          <ul></ul>
        </div>
      </div>
    </div>
  </section>
  <!-- 案例中心 -->
  <section class="project clearfix">
    <div class="mid-wrap">
      <div class="project__left">
        <!-- 分类 -->
        @@include('cate.html', { "cate_on": "办公工程案例", "cate": ["酒店工程案例","政府工程案例","学校工程案例","汽车工程案例"] })
        <!-- 联系我们 -->
        @@include('address.html')
      </div>
      <!-- 案例中心 -->
      <div class="project__right">
        <div class="main-tt">
          <h1>案例中心</h1>
          <span>PROJECT</span>
        </div>
        <div class="project__ct">
          <!-- 案例 -->
          @@include('list-item.html', { "img_url":["./images/index/slider_01.jpg","./images/index/slider_01.jpg","./images/index/slider_01.jpg","./images/index/slider_01.jpg","./images/index/slider_01.jpg"],
          "text":["绿洁雅-浦发银行","绿洁雅-汽车去甲醛","绿洁雅-富德生命人寿","绿洁雅-家庭去甲醛","绿洁雅-明志教育"]})
          <!-- 分页 -->
          @@include('page.html')
        </div>
      </div>
    </div>
  </section>
  <!-- 底部 -->
  @@include("footer.html")
  <!-- script -->
  @@include("script.html", { "jsname": "project"})
</body>

</html>