<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "荣誉资质 | 绿洁雅", "cssname": "honor" })
</head>

<body>
  <!-- 顶部 -->
  @@include("top.html")
  <!-- 头部 -->
  @@include("header.html", { "nav" : 6 })
  <!-- 焦点图 -->
  <section class="main-slider">
    <div class="mid-wrap">
      <div class="main-slider__ct">
        <div class="main-slider__bd">
          <ul>
            <li class="main-slider__item"><a href=""><img src="./images/index/slider_01.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="main-slider__hd">
          <ul></ul>
        </div>
      </div>
    </div>
  </section>
  <!-- 荣誉资质 -->
  <section class="honor clearfix">
    <div class="mid-wrap">
      <div class="honor__left">
        <!-- 联系我们 -->
        @@include('address.html')
      </div>
      <!-- 荣誉资质 -->
      <div class="honor__right">
        <div class="main-tt">
          <h1>荣誉资质</h1>
          <span>HONOR</span>
        </div>
        <div class="honor__ct">
          <ul class="honor__list">
            <!-- 案例 -->
            @@include('list-item.html', { "img_url":["./images/index/slider_01.jpg","./images/index/slider_01.jpg","./images/index/slider_01.jpg","./images/index/slider_01.jpg","./images/index/slider_01.jpg"],
            "text":["资质证书","资质证书","资质证书","资质证书","资质证书"]})
          </ul>
          @@include('page.html')
        </div>
      </div>
    </div>
  </section>
  <!-- 底部 -->
  @@include("footer.html")
  <!-- script -->
  @@include("script.html", { "jsname": "honor"})
</body>

</html>