@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-09-13
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/top';
@import '../../widgets/header';
@import '../../widgets/footer';
@import '../../widgets/cate';
@import '../../widgets/address';
@import '../../widgets/main-slider';
@import '../../widgets/title';
@import '../../widgets/page';

/* 焦点图 */
.main-slider {
  min-height: 220px;
}
/* 荣誉资质 */
.honor {
  margin-top: 50px;
  &__left {
    float: left;
  }
  &__right {
    box-sizing: border-box;
    padding-left: 60px;
    float: right;
    width: 768px;
  }
  &__ct {
    margin-top: 35px;
    font-size: 16px;
    line-height: 30px;
  }
  @import '../../widgets/list-item';
  // 针对该页面对list-item调整
  .list {
    .item {
      margin-bottom: 68px;
      padding: 0;
      img {
        width: 100%;
        height: 100%;
      }
      span {
        text-align: center;
      }
    }
  }
}