<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "关于我们 | 绿洁雅", "cssname": "about" })
</head>

<body>
  <!-- 顶部 -->
  @@include("top.html")
  <!-- 头部 -->
  @@include("header.html", { "nav" : 2 })
  <!-- 焦点图 -->
  <section class="main-slider">
    <div class="mid-wrap">
      <div class="main-slider__ct">
        <div class="main-slider__bd">
          <ul>
            <li class="main-slider__item"><a href=""><img src="./images/index/slider_01.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="main-slider__hd">
          <ul></ul>
        </div>
      </div>
    </div>
  </section>
  <!-- 关于绿洁雅 -->
  <section class="about clearfix">
    <div class="mid-wrap">
      <div class="about__left">
        <!-- 联系我们 -->
        @@include('address.html')
      </div>
      <!-- 关于绿洁雅 -->
      <div class="about__right">
        <div class="main-tt">
          <h1>关于绿洁雅</h1>
          <span>ABOUT US</span>
        </div>
        <div class="about__ct">
          <p class="about__item">
              绿洁雅环保总部位于深圳，是一家集研发、设计、生产、销售、服务为一体的高新技术企业。专业专注研发生产室内空气污染治理系列产品，提供专业的室内空气污染检测治理服务，是专业的除甲醛公司
              <img src="./images/index/slider_01.jpg" alt="">
          </p>
          <p class="about__item">
              研发中心<br/>
              绿洁雅与日本北海道大学、华南理工大学合作，通过引进和吸收国际先进技术，成功开发出了光触媒全味净、高洁雅全味净、高洁雅除醛王、高洁雅除味剂、汽车消毒剂、空气净化器等各种治理产品。产品种类齐全，并荣获多项荣誉与权威机构认证。
          </p>
          <p class="about__item">
              机构分布<br/>
              绿洁雅总部位于广东省深圳市，厂区分布于深圳及河源。工厂拥有行业先进的生产设备和雄厚的技术力量，以及严格的品质管理体系，秉承“质量第一，信誉致上”的理念方针，强力保证了产品的质量。
          </p>
          <p class="about__item">
              产品销售网络辐射全国<br/>
              公司系列产品以一流的技术，一流的品质，优质的售后服务赢得了广大消费者的喜爱及认可。公司在国内各省市拥有多家合作代理商，产品销售网络辐射全国。在同类产品销售额及市场占有率上占据前列。
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- 底部 -->
  @@include("footer.html")
  <!-- script -->
  @@include("script.html", { "jsname": "about"})
</body>

</html>