@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-09-13
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/top';
@import '../../widgets/header';
@import '../../widgets/footer';
@import '../../widgets/address';
@import '../../widgets/main-slider';
@import '../../widgets/title';

/* 焦点图 */
.main-slider {
  min-height: 220px;
}
/* 联系我们 */
.contact {
  margin-top: 50px;
  &__left {
    float: left;
  }
  &__right {
    box-sizing: border-box;
    padding-left: 60px;
    float: right;
    width: 768px;
  }
  &__ct {
    margin-top: 35px;
    font-size: 16px;
    line-height: 30px;
  }
  &__photo {
    float: left;
    width: 309px;
    height: 233px;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__detail {
    float: right;
    box-sizing: border-box;
    padding-left: 30px;
    width: 399px;
    font-size: 14px;
    line-height: 36px;
    h3 {
      margin-top: -10px;
      color: #29c077;
      font-size: 16px;
    }    
  }
}