<header class="header">
    <div class="mid-wrap">
      <div class="header__logo"><img src="./images/index/logo.jpg" alt="绿洁雅"></div>
      <nav class="header__nav">
        <div class="header__nav-item @@if (nav === 1) {on}"><a href="./index.html">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></div>
        <div class="header__nav-item @@if (nav === 2) {on}"><a href="./about.html">关于我们</a></div>
        <div class="header__nav-item @@if (nav === 3) {on}"><a href="./contact.html">联系我们</a></div>
        <div class="header__nav-item @@if (nav === 4) {on}"><a href="./product.html">产品中心</a></div>
        <div class="header__nav-item @@if (nav === 5) {on}"><a href="./project.html">案例中心</a></div>
        <div class="header__nav-item @@if (nav === 6) {on}"><a href="./honor.html">荣誉资质</a></div>
        <div class="header__nav-item @@if (nav === 7) {on}"><a href="">Q&A</a></div>
      </nav>
    </div>
  </header>