/* 模块标题 */
.main-tt {
  h1 {
    color: #26292b;
    font-size: 30px;
    line-height: 40px;
  }
  span {
    color: #26292b;
    font-size: 14px;
    line-height: 40px;
    &:before {
      content: '|';
      margin-right: 10px;
    }
    &:after {
      content: '|';
      margin-left: 10px;
    }
  }
}